<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Register - Pay My Buddy</title>

  <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div class="login-container">

  <div class="logo">
    Pay My Buddy
  </div>

  <form th:action="@{/register}" method="post">

    <input
            class="form-control"
            type="text"
            name="userName"
            placeholder="Username"
            required>

    <input
            class="form-control"
            type="email"
            name="email"
            placeholder="Mail"
            required>

    <input
            class="form-control"
            type="password"
            name="password"
            placeholder="Mot de passe"
            required>

    <button
            class="primary-button"
            type="submit">

      S'inscrire

    </button>

  </form>

</div>

</body>

</html>